.header {
  padding: 0rem 2rem;
  background-color: "transparent";
  /* border-bottom: 1px solid #e2e8f0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.link {
  font-weight: 500;
  color: white;
  text-decoration: none;

  &.active {
    color: white;
  }
}

.founders-pen-panel {
  position: fixed;
  top: 0;
  right: -124%; /* fully hidden off-canvas by default */
  width: 83%; /* default to 100% for mobile */
  height: 100%;
  background-color: #dbd1d1;
  color: #333;
  transition: right 0.4s ease;
  z-index: 1000;
  overflow-y: auto;
  padding: 2rem;
}

.founders-pen-panel.open {
  right: 0;
}

/* Medium and up screens (tablets, desktops) */
@media (min-width: 768px) {
  .founders-pen-panel {
    width: 350px;
    right: -422px; /* hide beyond its width */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .founders-pen-panel.open {
    right: 0;
  }
}

/* .founders-pen-panel.open {
  right: 0;
} */

.founders-pen-content {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.5;
}

.founders-pen-content h2 {
  margin-top: 0;
  font-size: 1.4rem;
  color: #2b7a78;
  border-bottom: 2px solid #2b7a78;
  padding-bottom: 0.5rem;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.4rem;
  color: #555;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}