body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background: linear-gradient(135deg, #0d1b1e, #004c4c);
  color: white;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
